<!DOCTYPE html>
<html>
<head>
    <title>Home - Email Scheduler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Email Scheduler</h2>
        <form action="{{ url_for('schedule') }}" method="get">
            <input type="email" name="sender_email" placeholder="Sender Email" required>
            <input type="password" name="sender_password" placeholder="Password" required>
            <button type="submit">Proceed to Schedule</button>
        </form>
        <footer>© 2025 Mail Scheduler</footer>
    </div>
</body>
</html>
